﻿<%@ Page Title="" Language="C#" MasterPageFile="~/client.master" AutoEventWireup="true" CodeFile="adminlogin.aspx.cs" Inherits="admin_adminlogin" %>

<script runat="server">
</script>
<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
    <link href="style.css" rel="Stylesheet" type="text/css" />
    <style type="text/css">
        .style1
        {
            width: 162px;
        }
        .style2
        {
            width: 284px;
        }
    </style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <div>
        <h1 class="contenth1" align="center">
            <b>ADMIN LOGIN</b></h1>
    </div>

    <table id="Table1" cellpadding="5" cellspacing="5" rules="none" style="width: 100%; font-size: small;"
        border="5" runat="server">

        <tr>
            <td class="style1">
                &nbsp;</td>
            <td class="style1">
                &nbsp;</td>
            <td class="style2" align="center">
                &nbsp;</td>
            <td class="style6" align="center">
                &nbsp;</td>
        </tr>

        <tr>
            <td class="style1">
                &nbsp;</td>
            <td class="style1">
                &nbsp;</td>
            <td class="style2" align="center">
                <asp:Label ID="l1" runat="server" ForeColor="Red"></asp:Label>
            </td>
            <td class="style6" align="center">
                &nbsp;</td>
        </tr>

        <tr>
            <td class="style1">
                &nbsp;</td>
            <td class="style1">
                <b>Username </b>
            </td>
            <td class="style2" align="center">
                <asp:TextBox ID="aduser"  Width="300px" Height="22px" CssClass="textbox" 
                    runat="server"></asp:TextBox>
            </td>
            <td class="style6" align="center">
                &nbsp;</td>
        </tr>
        <tr>
            <td class="style1">
                &nbsp;</td>
            <td class="style1">
                <b>Password </b>
            </td>
            <td class="style2" align="center">
                <asp:TextBox ID="adpassword" runat="server" Width="300px" Height="22px" 
                    CssClass="textbox" TextMode="Password" 
                   ></asp:TextBox>
            </td>
            <td class="style6" align="center">
                &nbsp;</td>
        </tr>
        
           
        <tr>
            <td class="style1">
                &nbsp;</td>
            <td class="style1">
                &nbsp;</td>
            <td class="style2" align="center">
           
                <asp:Button ID="login1" runat="server" Text="Login" CssClass="btn" 
                    Height="42px" Width="99px" onclick="login1_Click"
                     />
                &nbsp;&nbsp;&nbsp;
                    </td>
                
            <td class="style6" align="center">
                &nbsp;</td>
        </tr>
        
            
        <tr>
            <td class="style1">
                &nbsp;</td>
            <td class="style1">
                &nbsp;</td>
            <td class="style2" align="center">
           
                &nbsp;</td>
                
            <td class="style6" align="center">
                &nbsp;</td>
        </tr>
        
            
            </table>
</asp:Content>