
 .textbox
        {
            background: white;
            border: 1px solid #78BBE6;
            border-radius: 5px;
            box-shadow: 0 0 5px 3px #78BBE6;
            color: #666;
            outline: none;
            }
        .btn
        {
            background: #78bce6;
            background-image: -webkit-linear-gradient(top, #78bce6, #3498db);
            background-image: -moz-linear-gradient(top, #78bce6, #3498db);
            background-image: -ms-linear-gradient(top, #78bce6, #3498db);
            background-image: -o-linear-gradient(top, #78bce6, #3498db);
            background-image: linear-gradient(to bottom, #78bce6, #3498db);
            -webkit-border-radius: 20;
            -moz-border-radius: 20;
           
            font-family: Arial,Helvetica,sans-serif;
            color: #ffffff;
            font-size: 15px;
            font-weight: bold;
            padding: 10px 20px 10px 20px;
            text-decoration: none;
        }
        
        .btn:hover
        {
            background: #3c72fa;
            background-image: -webkit-linear-gradient(top, #3c72fa, #3484d9);
            background-image: -moz-linear-gradient(top, #3c72fa, #3484d9);
            background-image: -ms-linear-gradient(top, #3c72fa, #3484d9);
            background-image: -o-linear-gradient(top, #3c72fa, #3484d9);
            background-image: linear-gradient(to bottom, #3c72fa, #3484d9);
            text-decoration: none;
        }
body {
	margin:0;
	padding:0;
	width:100%;
	color:#afafaf;
	font:normal 12px/1.8em Arial, Helvetica, sans-serif;
	background:#f3f3f3 url(images/bg.gif) repeat-x top;
}
html, .main {
	padding:0;
	margin:0 auto;
	width:1000px;
}
.logo {
	float:left;
	width:300px;
	height:30px;
	padding:12px 20px 10px;
	margin:0 auto;
}
h1
{
    margin: 0;
    padding: 0;
    color: #666666;
    font: bold xx-large/1.2em Arial, Helvetica, sans-serif;
    letter-spacing: -2px;
}
h1 a, h1 a:hover {
	color:#afaeae;
	text-decoration:none;
}
h1 span {
	color:#9dd9ff;
}
h1 small {
	padding:0 20px;
	font:normal 12px/1.2em Arial, Helvetica, sans-serif;
	letter-spacing:normal;
}
h2 {
	font:normal 24px Arial, Helvetica, sans-serif;
	padding:8px 0;
	margin:0;
	color:#595959;
}
h3 {
	font:normal 46px Arial, Helvetica, sans-serif;
	padding:80px 0 0;
	margin:0;
	color:#595959;
}
p {
	margin:8px 0;
	padding:0 0 8px 0;
	color:Black;
}
p.spec {
}
a
{
    color: #0099FF;
    text-decoration: underline;
}
a.rm, a.com {
	padding:0;
	text-decoration:none;
}
.header, .content, .menu_nav, .fbg, .footer, form, ol, ol li, ul, .content .mainbar, .content .sidebar {
	margin:0;
	padding:0;
}
.header {
	padding:0;
	margin:0;
	background:#78bbe6;
	
}
.hbg {
	padding:25px 0;
	margin:0;
	
}
.menu_nav
{
    margin: 0;
    padding: 0 50px 0 0;
    height: 52px;
    font-style: italic;
    
}
.menu_nav ul {
	list-style:none;
	margin:0;
	padding:16px 0;
	float:right;
	height:20px;
}
.menu_nav ul li {
	margin:0;
	padding:0;
	float:left;
}
.menu_nav ul li a {
	display:block;
	margin:0;
	padding:2px 20px;
	color:#7b7a7a;
	text-decoration:none;
	font-size:13px;
	line-height:16px;
	background:none;
	border-right:1px solid #afafaf;
}
.menu_nav ul li.active a, .menu_nav ul li a:hover
{
    text-decoration: none;
    color: #FFFFFF;
}
.content {
	padding:0;
	margin:0;
	background:#FFF;
}
.mainbar {
	margin:0;
	padding:0;
	float:right;
	width:663px;
}
.mainbar img {
	padding:4px;
	border:1px solid #f2f2f1;
	background:#FFF;
}
.mainbar img.fl {
	margin:4px 16px 4px 0;
	float:left;
}
.mainbar .article {
	margin:0;
	padding:10px 20px;
}
.mainbar .article a {
	color:#78bbe6;
}
.mainbar .post-data a {
	color:#595959;
}
.mainbar a.com {
	color:#24b4f1;
}
.mainbar .spec a.rm {
	color:#fff;
	background:#a2d2f2;
	padding:5px 15px;
	border:1px solid #a5cde7;
}
.sidebar {
	padding:0;
	float:left;
	width:306px;
}
.sidebar .gadget {
	margin:0;
	padding:10px 20px;
}
.sidebar .gadget .title {
	text-align:right;
}
.sidebar .gadget span.q {
	text-align:right;
	font:normal 60px/12px Arial, Helvetica, sans-serif;
	color:#d9d9d9;
}
ul.sb_menu, ul.ex_menu, .testi {
	margin:0;
	padding:0;
	color:#939393;
	list-style:none;
}
ul.sb_menu li, ul.ex_menu li {
	margin:0;
}
ul.sb_menu li {
	padding:2px 0;
}
ul.ex_menu li {
	padding:2px 0;
}
ul.sb_menu li a, ul.ex_menu li a {
	display:block;
	color:#959595;
	text-decoration:none;
	padding:5px 5px 5px 20px;
	background:url(images/menu_li_link.gif) no-repeat left center;
}
ul.ex_menu li span {
	padding:0 0 0 20px;
}
ul.sb_menu li a:hover, ul.ex_menu li a:hover, ul.sb_menu li.active a, ul.ex_menu li.active a {
	background:url(images/menu_li_hover.gif) no-repeat left center;
	color:#24b4f1;
}
ul.sb_menu li a:hover {
	text-decoration:underline;
}
ul.ex_menu li a:hover {
	text-decoration:underline;
}
.content .mainbar .comment {
	margin:0;
	padding:16px 0 0 0;
}
.content .mainbar .comment img.userpic {
	border:1px solid #dedede;
	margin:10px 16px 0 0;
	padding:0;
	float:left;
}
.fbg {
	margin:25px 0 0 0;
	padding:10px 20px;
	background:#FFF;
}
.fbg img {
	padding:4px;
	border:1px solid #cfd2d4;
	background-color:#fff;
}
.fbg .col {
	margin:0;
	float:left;
}
.fbg .c1 {
	padding:0 20px 0 0;
	width:260px;
}
.fbg .c2 {
	padding:0 20px;
	width:320px;
}
.fbg .c3 {
	padding:0 0 0 20px;
	width:270px;
	background:none;
}
.fbg .c1 img {
	margin:8px 16px 8px 0;
}
.fbg .c3 img {
	margin:8px 16px 4px 0;
	float:left;
}
.footer {
	background:#78bbe6;
	padding:20px;
}
.footer .lf {
	float:left;
}
.footer .rf {
	float:right;
}
.footer p {
	color:#ffffff;
	margin:0;
	padding:4px 0;
	width:auto;
	line-height:1.5em;
}
.footer a {
	color:#ffffff;
	text-decoration:underline;
}
.footer a:hover {
	text-decoration:none;
}
ol {
	list-style:none;
}
ol li {
	display:block;
	clear:both;
}
ol li label {
	display:block;
	margin:0;
	padding:16px 0 0 0;
}
ol li input.text {
	width:480px;
	border:1px solid #c0c0c0;
	margin:2px 0;
	padding:5px 2px;
	height:16px;
	background:#fff;
}
ol li textarea {
	width:480px;
	border:1px solid #c0c0c0;
	margin:2px 0;
	padding:2px;
	background:#fff;
}
ol li .send {
	margin:16px 0 0 0;
}
.search {
	padding:19px 30px;
	margin:0;
	height:31px;
}
.search span {
	float:right;
	width:260px;
	display:block;
	background:#FFF;
	height:29px;
	margin:0;
	padding:0;
	border:1px solid #e1dddd;
}
.search input#s {
	float:left;
	width:210px;
	padding:7px 0 7px 10px;
	margin:0;
	border:0;
	background:none;
	color:#afaeae;
	font:normal 12px/15px Arial, Helvetica, sans-serif;
}
.search .btn {
	float:left;
	padding:0;
	margin:0;
	border:0;
	width:auto;
}
.pagenavi {
	clear:both;
	font:normal 11px Arial, Helvetica, sans-serif;
	margin:0 auto;
	text-align:right;
	padding:20px;
}
.pagenavi a, .pagenavi .current {
	margin-left:3px;
	padding:3px 8px;
	text-decoration:none;
	color:#939393;
	background:#f9fbfc;
	border:1px solid #d9e3cb;
}
.pagenavi a:hover, .pagenavi .current {
	background:#78bbe6;
	color:#FFF;
}
.pagenavi .pages {
	float:left;
}
.fl {
	float:left;
}
.fr {
	float:right;
}
.clr {
	clear:both;
	padding:0;
	margin:0;
	width:100%;
	font-size:0;
	line-height:0;
}

.size
{
    width:970px;
    background-color:White;
    
}
