﻿<%@ Page Title="" Language="C#" MasterPageFile="~/admin/adminpanel.master" AutoEventWireup="true" CodeFile="index.aspx.cs" Inherits="admin_index" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <span style="font-family: 'Charlemagne Std'; font-size: xx-large; font-weight: bold;
        font-style: italic; color: #0066CC; text-decoration: underline; text-align: center; margin-left: 350px;"  valign="top" >
        HELLO ADMIN 
        </span>

</asp:Content>

