﻿<%@ Page Title="" Language="C#" MasterPageFile="~/admin/adminpanel.master" AutoEventWireup="true" CodeFile="mail.aspx.cs" Inherits="admin_mail" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
<link href="style.css" rel="Stylesheet" type="text/css" />
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<table border="5" cellpadding="5" cellspacing="5" 
        style="width:100%; font-size: small;" rules="none">
        <tr>
            <td class="style21"><b>
                To :</b></td>
            <td class="style22">
                <asp:TextBox ID="Textbox0" runat="server" Width="300px" CssClass="textbox" 
                    Height="22px"></asp:TextBox>
            </td>
        </tr>
         <tr>
            <td class="style21"><b>
                subject :</b></td>
            <td class="style22">
                <asp:TextBox ID="TextBox1" runat="server" Width="300px" CssClass="textbox" 
                    Height="22px" ></asp:TextBox>
            </td>
        </tr>
         <tr>
            <td class="style21"><b>
              Body  :</b></td>
            <td class="style22">
                <asp:TextBox ID="TextBox2" runat="server" Width="300px" CssClass="textbox" 
                    Height="22px"  TextMode="MultiLine"></asp:TextBox>
            </td>
        </tr>
        <tr>
            <td class="style21"><b>
              File Attachments  :</b></td>
            <td class="style22">
               <asp:FileUpload ID="fuAttachment" runat="server" />
            </td>
        </tr>
         <%--<tr>
            <td class="style21"><b>
                Gmail EmailID   :</b></td>
            <td class="style22">
                <asp:TextBox ID="TextBox3" runat="server" Width="301px" CssClass="textbox" 
                    Height="21px"></asp:TextBox>
            </td>
        </tr>--%>
         <%--<tr>
            <td class="style21"><b>
                Gmail Password :</b></td>
            <td class="style22">
                <asp:TextBox ID="TextBox4" runat="server" Width="300px" CssClass="textbox" 
                    Height="22px" TextMode="Password"></asp:TextBox>
            </td>
        </tr>--%>
        <tr>
      <td></td>
                  
                    <td class="style6" >
                <asp:Button ID="Button1" runat="server" Text="Send" CssClass="btn" 
                    Height="42px" Width="99px" onclick="Button1_Click" 
                     />
                    </td>
                    </tr>
        </table>
</asp:Content>

