﻿<%@ Page Title="" Language="C#" MasterPageFile="~/admin/adminpanel.master" AutoEventWireup="true" CodeFile="orderstatus.aspx.cs" Inherits="admin_odrerstatus" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
</asp:Content>

