﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="client.master.cs" Inherits="client" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
    <link href="themes/1/js-image-slider.css" rel="stylesheet" type="text/css" />
    <script src="themes/1/js-image-slider.js" type="text/javascript"></script>
    <link href="themes/1/generic.css" rel="stylesheet" type="text/css" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="style.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="js/jquery-1.3.2.min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
    <script type="text/javascript" src="js/cufon-yui.js"></script>
    <script type="text/javascript" src="js/arial.js"></script>
    <script type="text/javascript" src="js/cuf_run.js"></script>
    <%--<script language="javascript">
        function showsubmenu(id) {
            var subcat = document.getElementById(id);
            if (subcat.style.display == 'none') {
                subcat.style.display = 'block';
            }
            else {
                subcat.style.display = 'none';
            }

        }
    </script>--%>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    </div>
    <div class="header">
        <%--<div class="logo">
            <h1>
                <a href="index.aspx">
                   <img src="admin/imges/medigo.png" height="30px" width="150px"/></a></h1>
        </div>--%>
        <div class="logo">
            <h1>
                <span>ISTS</span></h1>
        </div>
        <div class="menu_nav">
            <ul>
                <li class="active"><a href="index.aspx">Home</a></li>
                <li><a href="contact.aspx">Contact Us</a></li>
                <li><a href="aboutus.aspx">About Us</a></li>
                <li><a href="login.aspx">Login</a></li>
                <li><a href="admin/adminlogin.aspx">
                    <img alt="" src="admin/images/698630-icon-114-lock-128.png" height="25" />
                         </a></li>
                
            </ul>
            <div class="clr">
            </div>
        </div>
        <div class="clr">
        </div>
    </div>
    <div class="hbg">
        <asp:Image ID="Image1" runat="server" ImageUrl="~/admin/Logo.jpg" />
    </div>
    <div>
        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
        </asp:ContentPlaceHolder>
    </div>
    <div class="footer">
        <p class="lf">
            &copy; Copyright <a href="#"></a>.</p>
        <p class="rf">
            Developed by : DCompany <a href="#"></a>
        </p>
        <div class="clr">
        </div>
    </div>
    </form>
</body>
</html>
